<<<<<<< HEAD
*{
    margin: 0px;
}

.navbar{
    background-color: #171717 !important; 
    color: #ffffff !important;

}
.imglogo{
    width: 10rem;
=======
.que-ofrecemos{
    background-color:#171717 ;

}
.ofrecemos-tittle{
    color: #fff;

}
.ofrecemos-text{
    color: #fff;
   

>>>>>>> 3028970cf0ad4af3bae7d141e7b2f56fe6329b2c
}